name: Node.js CI

on:
  push:
    branches:
      - '*'
      - '!master'
  pull_request:
    branches: 
      - '*'
      - '!master'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: yarn
    - run: node update.js
    - run: npm test
    - name: Check if there are changes
      id: changes
      uses: UnicornGlobal/has-changes-action@v1.0.11
    - name: Process changes
      if: steps.changes.outputs.changed == 1
      run: git add . && git commit -m "Github Actions changes" && git push origin
